* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1920px) {
  #root {
    width: 100vw;
    height: 110vh;
    background-image: url(../pic/pic-1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #text {
    width: 50vw;
    height: 100vh;
    font-size: 30px;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #text1 {
    width: 50vw;
    height: 100vh;
    font-size: 30px;
    text-align: left;
    -webkit-animation: fadein 50s;
            animation: fadein 50s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    font-family: "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 800px) {
  #root {
    width: 100vw;
    height: 105vh;
    background-image: url(../pic/pic-1.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #text {
    width: 100vw;
    height: 100vh;
    font-size: 4vw;
    text-align: left;
    font-weight: bold;
    margin-top: 5vw;
    font-family: "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #text1 {
    width: 100vw;
    height: 100vh;
    font-size: 4vw;
    text-align: center;
    font-weight: bold;
    -webkit-animation: fadein 50s;
            animation: fadein 50s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    font-family: "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
  }
}