* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1920px) {
  #root {
    width: 100vw;
    height: 100vh;
    background: url(../pic/room.jpg);
  }
  #root #text {
    width: 100vw;
    height: 100vh;
    font-size: 30px;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 800px) {
  #root {
    width: 110vw;
    height: 115vh;
    background: url(../pic/room.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    flex-direction: column;
  }
  #root #text {
    width: 100vw;
    height: 110vh;
    font-size: 4vw;
    text-align: left;
    margin-left: 4vw;
    font-family: "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}