* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0;
  display: none;
}

@media (max-width: 1920px) {
  #root {
    width: 100vw;
    height: 110vh;
    background: url(../pic/rain1.jpg);
  }
  #root #text {
    width: 100vw;
    height: 110vh;
    font-size: 30px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 800px) {
  #root {
    width: 100vw;
    height: 120vh;
    background: url(../pic/rain1.jpg);
    background-size: cover;
    background-position: right right;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  #root #text {
    width: 100vw;
    height: 120vh;
    font-size: 4vw;
    text-align: left;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
