* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex ($d, $j, $a) {

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin border {
  border: 1px solid black;
}

@mixin mobile {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin pc {
  @media (max-width: 1920px) {
    @content;
  }
}

@include pc {
  #root {

    width: 100vw;
    height: 100vh;
    background-image: url(../pic/BUDA.jpg);
    background-size: cover;
    @include flex(flex, center, center);

    #con {

      width: 40vw;
      height: 50vh;
      flex-direction: column;
      @include flex(flex, center, center);

    }

    #con1 {

      width: 40vw;
      height: 50vh;
      flex-direction: column;
      @include flex(flex, center, center);

    }

    #next {

      width: 10vw;
      height: 6vh;
      font-size: 1.5vw;
      font-family: 'Times New Roman', Times, serif;
      color: rgba(221, 221, 221, 0.8);
      border-radius: 30px;
      border: 0;
      background-color: rgba(221, 221, 221, 0.5);
      box-shadow: 0 5px rgba(148, 142, 142, 0.5);
      margin-bottom: -75vh;
      cursor: pointer;
      @include flex(flex, center, center);

    }

    #next:hover {

      background-color: rgba(221, 221, 221, 0.5);
    }

    #next:active {

      color: rgb(255, 255, 255);
      transition: 0.2s;
      box-shadow: 0 5px rgba(100, 100, 100, 0.5);
      transform: translateY(2px);
    }

    #video {

      width: 40vw;
      height: 50vh;
      position: absolute;
      overflow: hidden;
      @include flex(flex, center, center);
    }

    #back {

      width: 100%;
      height: auto;
    }

    #video1 {

      width: 40vw;
      height: 50vh;
      position: absolute;
      overflow: hidden;
      @include flex(flex, center, center);
    }

    #back1 {

      width: 100%;
      height: auto;
    }

    #btn1 {

      width: 200px;
      height: 50px;
      font-family: 'Times New Roman', Times, serif;
      font-size: 2rem;
      font-weight: bold;
      margin: 3vh;
      margin-top: -60vh;
      background-color: rgba(255, 255, 255, 0.5);
      @include flex(flex, center, center);

    }

    #btn2 {
      width: 200px;
      height: 50px;
      font-family: 'Times New Roman', Times, serif;
      font-size: 2rem;
      font-weight: bold;
      margin: 3vh;
      margin-top: -60vh;
      background-color: rgba(255, 255, 255, 0.5);
      @include flex(flex, center, center);

    }
  }
}

@include mobile {
  #root {

    width: 100vw;
    height: 120vh;
    background-image: url(../pic/BUDA.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    flex-direction: column;
    @include flex(flex, center, center);

    #con {

      width: 100vw;
      height: 100vh;
      flex-direction: column;
      margin-top: -30vh;
      margin:5vh;
      @include flex(flex, center, center);

    }

    #con1 {

      width: 100vw;
      height: 100vh;
      margin: 5vh;
      flex-direction: column;

      @include flex(flex, center, center);
    }

    #next {

      width: 30vw;
      height: 6vh;
      font-size: 5vw;
      font-family: 'Times New Roman', Times, serif;
      color: rgba(221, 221, 221, 0.8);
      border-radius: 30px;
      border: 0;
      background-color: rgba(221, 221, 221, 0.5);
      box-shadow: 0 5px rgba(148, 142, 142, 0.5);
      flex-direction: column;
      margin-bottom: -105vh;
      position: relative;
      cursor: pointer;
      @include flex(flex, center, center);

    }

    #next:hover {

      background-color: rgba(221, 221, 221, 0.5);
    }

    #next:active {

      color: rgb(255, 255, 255);
      transition: 0.2s;
      box-shadow: 0 5px rgba(100, 100, 100, 0.5);
      transform: translateY(2px);
    }

    #video {

      width: 80vw;
      margin-top: -20vh;
      flex-direction: column;
      @include flex(flex, center, center);
    }

    #back {

      width: 100%;
      height: auto;
    }

    #video1 {

      width: 80vw;
      margin-bottom: -35vh;

      @include flex(flex, center, center);

    }

    #back1 {

      width: 100%;
      height: auto;
    }

    #btn1 {
      width: 30vw;
      height: 7vh;
      font-family: 'Times New Roman', Times, serif;
      font-size: 2rem;
      font-weight: bold;
      flex-direction: column;
      background-color: rgba(151, 144, 144, 0.5);
      @include flex(flex, center, center);

    }

    #btn2 {
      width: 40vw;
      height: 7vh;
      font-family: 'Times New Roman', Times, serif;
      font-size: 2rem;
      font-weight: bold;
      flex-direction: column;
      margin-bottom: -67vh;
      background-color: rgba(151, 144, 144, 0.5);
      @include flex(flex, center, center);
    }

  }
}