* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 115vh;
  background: url(../pic/run-1.jpg);
  background-size: cover;
}
#root #text {
  width: 100vw;
  height: 115vh;
  font-size: 30px;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}