* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#root {
  width: 100vw;
  height: 100vh;
  background-image: url(../pic/jang.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#text {
  width: 50vw;
  height: 100vh;
  font-size: 30px;
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#text1 {
  width: 50vw;
  height: 100vh;
  font-size: 30px;
  text-align: left;
  -webkit-animation: fadein 50s;
          animation: fadein 50s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

#text1:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}