* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root > div {
  width: 100vw;
  height: 100vh;
  color: #000;
  transition: 3s;
  font-size: 90px;
  font-family: "Song Myung", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root > div:hover {
  color: #fff;
  font-size: 500%;
}