* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1920px) {
  #root {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root > div {
    width: 100vw;
    height: 100vh;
    font-size: 500%;
    transition: 7s;
    color: #fff;
    font-family: "Song Myung", serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 800px) {
  #root {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root > div {
    width: 100vw;
    height: 100vh;
    font-size: 14vw;
    transition: 7s;
    color: #fff;
    font-family: "Song Myung", serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}